.alt-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.alt-header__title {
  font-weight: 600;
  font-size: 28px;
}

.alt-header__column:first-child {
  margin-right: auto;
}

.alt-header__column:last-child {
  margin-left: auto;
}
