.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f9f9fa;
  padding: 20px 50px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}
.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__link {
  color: #2e363e;
  position: relative;
}

.nav__notification {
  position: absolute;
  left: 20px;
  bottom: 18px;
}

.nav__notification-sm {
  width: 8px;
  height: 8px;
  position: absolute;
  left: 30px;
  bottom: 30px;
  background-color: tomato;
  border-radius: 50%;
}
