.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--horizontal-space);
  margin-bottom: 15px;
}

.screen-header__title {
  font-size: 32px;
  font-weight: 600;
}

.screen-header__icons span {
  margin-left: 25px;
}

.screen-header__notification {
  position: relative;
}

.screen-header__notification-dot {
  width: 5px;
  height: 5px;
  position: absolute;
  left: -5px;
  top: -5px;
  background-color: tomato;
  border-radius: 50%;
}
